.u-section-1 .u-sheet-1 {
  min-height: 758px;
}

.u-section-1 .u-image-1 {
  height: 643px;
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 88px;
  height: 82px;
  margin: -537px auto 0 22px;
}

.u-section-1 .u-image-3 {
  width: 88px;
  height: 95px;
  margin: -190px auto 0 22px;
}

.u-section-1 .u-image-4 {
  width: 102px;
  height: 99px;
  margin: -93px auto 0 144px;
}

.u-section-1 .u-image-5 {
  width: 90px;
  height: 83px;
  margin: 17px auto 0 156px;
}

.u-section-1 .u-image-6 {
  width: 98px;
  height: 95px;
  margin: 6px auto 0 12px;
}

.u-section-1 .u-image-7 {
  width: 78px;
  height: 89px;
  margin: 3px auto 0 22px;
}

.u-section-1 .u-image-8 {
  width: 122px;
  height: 127px;
  margin: 47px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -483px auto 0 32px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 82px auto 0 12px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 81px auto 0 35px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 72px auto 0 35px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 148px auto 0 48px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: -494px auto 0 174px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 82px auto 0 156px;
}

.u-section-1 .u-image-9 {
  width: 88px;
  height: 39px;
  margin: 392px auto 0 22px;
}

.u-section-1 .u-video-1 {
  width: 833px;
  height: 484px;
  margin: -534px 14px 0 auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -550px 76px 60px auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
    height: 419px;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: -485px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 314px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
    margin-top: -380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 110px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 98px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 198px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -264px;
  }
}