.u-section-1 .u-sheet-1 {
  min-height: 743px;
}

.u-section-1 .u-image-1 {
  height: 643px;
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 88px;
  height: 82px;
  margin: -537px auto 0 22px;
}

.u-section-1 .u-image-3 {
  width: 88px;
  height: 95px;
  margin: -190px auto 0 22px;
}

.u-section-1 .u-image-4 {
  width: 102px;
  height: 99px;
  margin: -93px auto 0 144px;
}

.u-section-1 .u-image-5 {
  width: 90px;
  height: 83px;
  margin: 17px auto 0 156px;
}

.u-section-1 .u-image-6 {
  width: 98px;
  height: 95px;
  margin: 6px auto 0 12px;
}

.u-section-1 .u-image-7 {
  width: 78px;
  height: 89px;
  margin: 3px auto 0 22px;
}

.u-section-1 .u-image-8 {
  width: 122px;
  height: 127px;
  margin: 47px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -483px auto 0 32px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 82px auto 0 12px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 81px auto 0 35px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 72px auto 0 35px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 148px auto 0 48px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: -494px auto 0 174px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 82px auto 0 156px;
}

.u-section-1 .u-gallery-1 {
  height: 578px;
  width: 797px;
  margin: -175px 22px 0 auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-back-image-1 {
  left: -50px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-back-image-2 {
  left: -50px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-back-image-3 {
  left: -50px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-back-image-4 {
  left: -50px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-back-image-5 {
  left: -50px;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-1 .u-back-image-6 {
  left: -50px;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-1 .u-back-image-7 {
  left: -50px;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-1 .u-back-image-8 {
  left: -50px;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-1 .u-back-image-9 {
  left: -50px;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-1 .u-back-image-10 {
  left: -50px;
}

.u-section-1 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-1 .u-back-image-11 {
  left: -50px;
}

.u-section-1 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-1 .u-back-image-12 {
  left: -50px;
}

.u-section-1 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-13 {
  margin-right: 0;
}

.u-section-1 .u-back-image-13 {
  left: -50px;
}

.u-section-1 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-14 {
  margin-right: 0;
}

.u-section-1 .u-back-image-14 {
  left: -50px;
}

.u-section-1 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-15 {
  margin-right: 0;
}

.u-section-1 .u-back-image-15 {
  left: -50px;
}

.u-section-1 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-16 {
  margin-right: 0;
}

.u-section-1 .u-back-image-16 {
  left: -50px;
}

.u-section-1 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-17 {
  margin-right: 0;
}

.u-section-1 .u-back-image-17 {
  left: -50px;
}

.u-section-1 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-18 {
  margin-right: 0;
}

.u-section-1 .u-back-image-18 {
  left: -50px;
}

.u-section-1 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-19 {
  margin-right: 0;
}

.u-section-1 .u-back-image-19 {
  left: -50px;
}

.u-section-1 .u-over-slide-19 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-20 {
  margin-right: 0;
}

.u-section-1 .u-back-image-20 {
  left: -50px;
}

.u-section-1 .u-over-slide-20 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-21 {
  margin-right: 0;
}

.u-section-1 .u-back-image-21 {
  left: -50px;
}

.u-section-1 .u-over-slide-21 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-22 {
  margin-right: 0;
}

.u-section-1 .u-back-image-22 {
  left: -50px;
}

.u-section-1 .u-over-slide-22 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-23 {
  margin-right: 0;
}

.u-section-1 .u-back-image-23 {
  left: -50px;
}

.u-section-1 .u-over-slide-23 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-24 {
  margin-right: 0;
}

.u-section-1 .u-back-image-24 {
  left: -50px;
}

.u-section-1 .u-over-slide-24 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-25 {
  margin-right: 0;
}

.u-section-1 .u-back-image-25 {
  left: -50px;
}

.u-section-1 .u-over-slide-25 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-26 {
  margin-right: 0;
}

.u-section-1 .u-back-image-26 {
  left: -50px;
}

.u-section-1 .u-over-slide-26 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-27 {
  margin-right: 0;
}

.u-section-1 .u-back-image-27 {
  left: -50px;
}

.u-section-1 .u-over-slide-27 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-28 {
  margin-right: 0;
}

.u-section-1 .u-back-image-28 {
  left: -50px;
}

.u-section-1 .u-over-slide-28 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-image-9 {
  width: 98px;
  height: 44px;
  margin: -12px auto 50px 22px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 544px;
    margin-top: 88px;
    object-position: 15.32% 50%;
  }

  .u-section-1 .u-image-2 {
    margin-top: -448px;
    margin-left: 15px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: -94px;
    margin-left: 107px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 2px;
    margin-left: 118px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -2px;
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    margin-top: -24px;
    margin-left: 10px;
  }

  .u-section-1 .u-image-8 {
    width: 113px;
    height: 118px;
    margin-top: 29px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -417px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 73px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 51px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 68px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 121px;
    margin-left: 36px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -416px;
    margin-left: 136px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 66px;
    margin-left: 125px;
  }

  .u-section-1 .u-gallery-1 {
    height: 476px;
    width: 656px;
    margin-top: -144px;
    margin-right: 11px;
  }

  .u-section-1 .u-image-9 {
    margin-top: -20px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    height: 430px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -332px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    height: 323px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -225px;
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 203px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -105px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 86px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 79px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
  }
}